/*
Festplayer v0.2.1 - style.css
by rdb-github
*/
html, body {
	margin: 0 auto
}
#content{
	width: 100%;
	height: 100%;
	position: absolute
}
#navbar {
	display:flex;
	width: 100%;
	height: 75px;
	flex-direction:row;
	justify-content:flex-start;
	background-color:#4ABDAC;
	position: relative;
	align-items: center
}	
#logo{
	width: 100px;
	margin-top: 4px;
	border-right:2px solid white
}
#programname{
	margin-left: 10px;
	font-family: Arial;
	font-weight: bold;
	color: white;
	font-size: 40px
}
#remote{
	min-width: 60px;
	filter: invert(1);
	align-self: center
}
#space{
	width: calc(100% - 75px)
}
.material-icons{
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer
}
#repeat, #volume{
	color: #333333
}
#repeat:hover, #volume:hover{
	color: white
}
#repeat[name="repeat-one"],#volume[name="slidershow"]{
	color: #4ABDAC
}
#vol-control {
	-webkit-appearance: none;
	height: 5px;
	background: white;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	display: none;
}
#vol-control::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #404040;
	cursor: pointer;
}

#vol-control::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #404040;
	cursor: pointer;
}
#loading{
	font-family: Arial;
    color: white;
    font-size: 50px;
    text-align: center;
    display: none;
    padding-top: calc(20% - 20px);
    margin: 0 auto;
}
#mainpage{
	width: 100%;
	height: calc(100% - 75px);
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #3c3c3c
}
::placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder {
  color: #a3a3a3
}
#remotepagemobile{
	display: none;
	width: 100%;
	height: calc(100% - 75px);
	position: relative;
	justify-content: center;
	align-items: center;
	background-color: #3c3c3c
}
#elements>h1{
	text-align: center;
	font-family: Arial;
	color: white;
	font-size: 30px;
	font-weight: bold
}
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color:#ffffff;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #505739;
    text-align: center;
    width: 55px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    align-self: center;
    justify-self: center;
}
.myButton:hover {
	background-color:#dbdbdb;
}
.myButton:active {
	position:relative;
	top:1px;
}
#elements>textarea{
    width: 300px;
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    resize: none;
    font-family: Arial;
    font-size: 60px;
    text-align: center;
}
#elements{
	display: grid;
    grid-template-columns: none;
    align-items: center;
    margin: auto;
    grid-template-rows: 120px 90px 50px;
}
#footer{
	left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #1f1f1f;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
    height: 75px
}
#songcontainer{
	width: 90%;
	height: calc(100% - 150px);
	background-color: #353535;
	margin-top: 35px;
	display: block;
	border-radius: 25px;
	overflow-y: auto
}
#remotemobile{
	display:none;
}
.song{
	width: calc(100% - 80px);
    height: auto;
    background-color: #333333;
	margin-top: 20px;
	display: flex;
	align-items: center;
    margin: 40px
}
.song:hover{
	-webkit-box-shadow:inset 0px 0px 0px 5px #fff;
    -moz-box-shadow:inset 0px 0px 0px 5px #fff;
    box-shadow:inset 0px 0px 0px 5px #fff
}
.song[name=selected]:hover{
	-webkit-box-shadow:inset 0px 0px 0px 5px #000;
    -moz-box-shadow:inset 0px 0px 0px 5px #000;
    box-shadow:inset 0px 0px 0px 5px #000
}
.songname,.songposition,.songartist,.songduration {
	font-family: Arial;
	font-weight: bold;
	color: white
}
.songposition{
	font-size: 100px;
    margin-left: 100px;
    margin-right: 100px
}
.songinfo{
	padding-right: 100px
}
.songinfo>h1{
	margin: 0 auto
}
.songname{
	margin-top: 40px !important;
	font-size:50px
}
.songartist{
	font-size:40px;
	word-break: break-word
}
.songduration{
	font-size:30px;
	margin-bottom: 40px !important
}
@media only screen and (max-width: 700px){
	.songposition{
		font-size: 50px;
		margin-left: 50px;
		margin-right: 50px
	}
	.songinfo{
		text-overflow: ellipsis; 
		word-break: break-all;
		word-wrap: break-word;
		padding-right: 50px
	}
	.songname{
		margin-top: 40px !important;
		font-size:40px
	}
	.songartist{
		font-size:30px;
		word-break: break-word
	}
	.song{
		word-wrap: break-word
	}
	.songduration{
		font-size:20px;
		margin-bottom: 40px !important
	}
	#home{
		display:none
	}
}
@media only screen and (max-width: 500px){
	.audiojs{
		width: 70%;
		resize: both
	}
	.scrubber{
		display:none
	}
	.songposition{
		font-size: 20px;
		margin-left: 20px;
		margin-right: 10px
	}
	.songname{
		margin-top: 40px !important;
		font-size:30px
	}
	.songartist{
		font-size:20px;
		word-break: break-word
	}
	.songduration{
		font-size:15px;
		margin-bottom: 40px !important
	}
}
@media only screen and (max-width: 375px){
	#programname{
		font-size:30px;
	}
/*	#remotemobile{
		display:block;
		height: 60px;
		background: #a3a3a3;
	}
	#remotemobile>a{
		font-family: Arial;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		display: block;
		text-decoration: none;
		color: white;
	}*/
}
@media only screen and (max-height: 400px){
	#elementcontainer{
		transform: scale(0.7)
	}
}

