html, body {
	margin: 0 auto
}
#content{
	width: 100%;
	height: 100%;
	position: absolute
}
#navbar {
	display:flex;
	width: 100%;
	height: 75px;
	flex-direction:row;
	justify-content:flex-start;
	background-color:#4ABDAC;
	position: relative;
	align-items: center
}	
#logo{
	width: 100px;
	border-right:2px solid white
}
#programname{
	margin-left: 10px;
	font-family: Arial;
	font-weight: bold;
	color: white;
	font-size: 40px
}
#home{
	width: 75px;
	align-self: flex-end
}
#space{
	width: calc(100% - 75px)
}
#loading{
	font-family: Arial;
    color: white;
    font-size: 50px;
    text-align: center;
    display: none;
    padding-top: calc(20% - 20px);
    margin: 0 auto;
}
#mainpage{
	width: 100%;
	height: calc(100% - 75px);
	position: relative;
	display: flex;
	justify-content: center;
	background-color: #3c3c3c
}
#footer{
	left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #1f1f1f;
	display:flex;
	justify-content: center;
	align-items: center;
    height: 75px
}
#songcontainer{
	width: 90%;
	height: calc(100% - 150px);
	background-color: #353535;
	margin-top: 35px;
	display: block;
	border-radius: 25px;
	overflow-y: auto
}
.song{
	width: calc(100% - 80px);
    height: auto;
    background-color: #333333;
	margin-top: 20px;
	display: flex;
	align-items: center;
    margin: 40px;
	/*word-wrap: break-word;*/
	hyphens: auto;
}
.song:hover{
-webkit-box-shadow:inset 0px 0px 0px 5px #fff;
    -moz-box-shadow:inset 0px 0px 0px 5px #fff;
    box-shadow:inset 0px 0px 0px 5px #fff;
}
.songname,.songposition,.songartist,.songduration {
	font-family: Arial;
	font-weight: bold;
	color: white
}
.songposition{
	font-size: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
.songinfo{
/*text-overflow: ellipsis; 
word-break: break-all;
word-wrap: break-word;*/
hyphens: auto;
padding-right: 100px;
}
.songinfo>h1{
margin: 0 auto;
}
.songname{
margin-top: 40px !important;
font-size:50px;
}
.songartist{
font-size:40px;
word-break: break-word;
}
.songduration{
font-size:30px;
margin-bottom: 40px !important
}
@media only screen and (max-width: 700px){
	.songposition{
		font-size: 50px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.songinfo{
		text-overflow: ellipsis; 
		word-break: break-all;
		word-wrap: break-word;
		padding-right: 50px;
	}
	.songname{
		margin-top: 40px !important;
		font-size:40px;
	}
	.songartist{
		font-size:30px;
		word-break: break-word;
	}
	.song{
		word-wrap: break-word;
	}
	.songduration{
		font-size:20px;
		margin-bottom: 40px !important
	}
	#home{
		display:none
	}
}
@media only screen and (max-width: 500px){
	.audiojs{
		width: 70%;
		resize: both
	}
	.scrubber{
		display:none
	}
	.songposition{
		font-size: 20px;
		margin-left: 20px;
		margin-right: 10px
	}
	.songname{
		margin-top: 40px !important;
		font-size:30px;
	}
	.songartist{
		font-size:20px;
		word-break: break-word;
	}
	.songduration{
		font-size:15px;
		margin-bottom: 40px !important
	}
}